.form {
  display: flex;
  flex-direction: column;
  width: 98%;
  height: 351px;
  border: 2px solid #f8f9fa;
  padding: 2rem;
  gap: 20px;
}

.form__description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.form__description > input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 16px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  width: 90%;
  height: 3.3rem;
}

.form__description > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #212529;
  margin-bottom: 10px;
}

#form__spanEx {
  font-size: 0.8rem;
  opacity: 0.8;
}

.form__container {
  display: flex;
  gap: 71px;
}

.form__value > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #212529;
}

.form__value {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form__value > input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0px 16px;
  gap: 10px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  width: 70%;
  height: 3rem;
}

.form__type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  width: 45%;
}

.form__type > span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 22px;
  color: #212529;
}

.form__type > select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 16px;
  gap: 10px;
  background: #f8f9fa;
  border: 2px solid #f8f9fa;
  border-radius: 8px;
  width: 100%;
  height: 3.25rem;
}

.form__buttonValue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 20px;
  gap: 10px;
  margin-top: 30px;

  width: 100%;
  height: 3rem;
  background: #fd377e;
  border: 2px solid #fd377e;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  color: white;
}

.form__buttonDiv {
  width: 100%;
  height: 3rem;
}

.form__buttonValue:hover {
  opacity: 0.8;
}

@media screen and (max-width: 450px) {
  .form {
    width: 15.9rem;
    margin-right: 0px;
  }
  .main__div {
    width: 15.9rem;
  }
}
